/*
Syntax error: Invalid CSS after "none": expected expression (e.g. 1px, bold), was ";"
        on line 77 of streaming.sass
        from line 31 of C:\wamp\www\jsconfar\static\styles\styles.sass

72:           background: url(../images/break-sponsors.png) no-repeat
73:         &.checkin
74:           &:before
75:             background-position: top
76:           h3
77:             display: none;
78:           .sponsor
79:             display: none;
80:         &.coffee
81:           h3:before
82:             content: "Coffee"

Backtrace:
streaming.sass:77
C:\wamp\www\jsconfar\static\styles\styles.sass:31
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/scss/parser.rb:1308:in `expected'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/script/lexer.rb:216:in `expected!'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/script/parser.rb:600:in `assert_done'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/script/parser.rb:57:in `parse'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/script/parser.rb:177:in `parse'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/script.rb:27:in `parse'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:1129:in `parse_script'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:728:in `parse_property'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:699:in `parse_property_or_rule'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:665:in `parse_line'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:543:in `build_tree'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:562:in `append_children'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:561:in `each'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:561:in `append_children'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:552:in `build_tree'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:545:in `each'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:545:in `build_tree'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:562:in `append_children'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:561:in `each'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:561:in `append_children'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:552:in `build_tree'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:545:in `each'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:545:in `build_tree'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:562:in `append_children'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:561:in `each'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:561:in `append_children'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:552:in `build_tree'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:545:in `each'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:545:in `build_tree'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:562:in `append_children'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:561:in `each'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:561:in `append_children'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:552:in `build_tree'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:545:in `each'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:545:in `build_tree'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:562:in `append_children'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:561:in `each'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:561:in `append_children'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:552:in `build_tree'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:545:in `each'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:545:in `build_tree'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:562:in `append_children'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:561:in `each'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:561:in `append_children'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:552:in `build_tree'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:545:in `each'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:545:in `build_tree'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:562:in `append_children'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:561:in `each'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:561:in `append_children'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:412:in `_to_tree'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:305:in `to_tree'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/tree/visitors/perform.rb:295:in `visit_import'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/stack.rb:88:in `with_import'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/stack.rb:121:in `with_frame'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/stack.rb:88:in `with_import'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/tree/visitors/perform.rb:294:in `visit_import'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/tree/visitors/perform.rb:152:in `visit'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/stack.rb:79:in `with_base'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/stack.rb:121:in `with_frame'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/stack.rb:79:in `with_base'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/tree/visitors/perform.rb:152:in `visit'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/tree/visitors/base.rb:52:in `map'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/tree/visitors/perform.rb:161:in `visit_children'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/tree/visitors/perform.rb:173:in `with_environment'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/tree/visitors/perform.rb:160:in `visit_children'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/tree/visitors/perform.rb:180:in `visit_root'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/tree/visitors/perform.rb:151:in `visit'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/tree/visitors/perform.rb:8:in `send'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/tree/visitors/perform.rb:8:in `visit'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/tree/root_node.rb:20:in `render'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/engine.rb:274:in `render'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/plugin/compiler.rb:414:in `update_stylesheet'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/plugin/compiler.rb:189:in `update_stylesheets'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/plugin/compiler.rb:186:in `each'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/plugin/compiler.rb:393:in `on_file_changed'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/plugin/compiler.rb:248:in `watch'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/vendor/listen/lib/listen/listener.rb:252:in `call'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/vendor/listen/lib/listen/listener.rb:252:in `on_change'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/vendor/listen/lib/listen/listener.rb:290:in `initialize_adapter'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/vendor/listen/lib/listen/adapter.rb:297:in `start_poller'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/vendor/listen/lib/listen/adapter.rb:297:in `initialize'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/vendor/listen/lib/listen/adapter.rb:297:in `new'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/vendor/listen/lib/listen/adapter.rb:297:in `start_poller'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/vendor/listen/lib/listen/adapter.rb:101:in `start'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/vendor/listen/lib/listen/adapter.rb:109:in `start!'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/vendor/listen/lib/listen/listener.rb:66:in `start!'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/plugin/compiler.rb:291:in `listen_to'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/plugin/compiler.rb:257:in `watch'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/plugin.rb:108:in `send'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/plugin.rb:108:in `method_missing'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/exec.rb:509:in `watch_or_update'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/exec.rb:346:in `process_result'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/exec.rb:43:in `parse'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/../lib/sass/exec.rb:22:in `parse!'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.3.4/bin/sass:13
C:/Ruby187/bin/sass:19:in `load'
C:/Ruby187/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"none\": expected expression (e.g. 1px, bold), was \";\"\A         on line 77 of streaming.sass\A         from line 31 of C:\wamp\www\jsconfar\static\styles\styles.sass\A \A 72:           background: url(../images/break-sponsors.png) no-repeat\A 73:         &.checkin\A 74:           &:before\A 75:             background-position: top\A 76:           h3\A 77:             display: none;\A 78:           .sponsor\A 79:             display: none;\A 80:         &.coffee\A 81:           h3:before\A 82:             content: \"Coffee\""; }
